# 2- Data Science Tools and Ecosystem

3- In this notebook, Data Science Tools and Ecosystem are summarized

4-Some of the popular languages that Data Scientists use are:

Ordered list
1. Python
2. R
3. SQL

5- Some of the commonly used libraries used by Data Scientists include:

Ordered list
1. TensorFlow States
2. andNumPy
3. NumPy

6- Data Science Tools

| Data Science Tools |
| -------------|
| SAS |
| Apache Spark |
| BigML |

### 7-Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# 8- This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# 9- This will convert 200 minutes to hours by diving by 60
Hours=200/60
print("Hours= ",Hours)

Hours=  3.3333333333333335

**10- Objectives:**
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction

## 11- Author

Fadl Dahan